html,
body {
    background-color: #111111;
    margin: 0;
    padding: 0;
    height: 100%;
}

.container {
    height: 100%;
    width: 100%;
    position: absolute;
    overflow: hidden;
}

.map {
    height: 100%;
    width: 100%;
    z-index: 100;
    position: absolute;
    border-right: 1px solid #444;
    background-color: #000;
}

.indicator {
    padding: 5px;
    width: auto;
    min-width: 170px;
    text-align: center;
    background: #2484C6;
    background: rgba(36, 132, 198, 0.5);
    font-size: 8pt;
    right: .5em;
    bottom: 4em;
    margin-right: 3px;
    position: absolute;
    color: #eee;
    font-family: 'Open Sans', sans-serif;
    -webkit-tap-highlight-color: none;
    border-radius: 4px;
}

.ol-touch .indicator{
    visibility: hidden;
}

.hidden {
    visibility: hidden;
}

.floatBox {
    float: left;
    width: 75px;
}

.floatLeft {
    float: left;
}

.clearFloat {
    clear: both;
}

.webglMissing {
    font-family: 'Open Sans', sans-serif;
    margin: auto;
    position: absolute;
    width: 100%;
    height: 100%;
    background: url('../images/elasticterrain_preview.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    z-index: 101;
}

.webglMissing p {
    text-align: left;
    margin: auto;
    padding: 3em;
    border: #cccccc 4px solid;
    margin-top: 10%;
    width: 400px;
    background-color: #111;
    -moz-box-shadow: inset 10px 0 15px #000000;
    -webkit-box-shadow: inset 10px 0 15px #000000;
    box-shadow: inset 10px 0 15px #000000;
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    line-height: 2em;
    font-size: 9.5pt;
}

.webglMissing span {
    font-font-weight: bolder;
    font-size: 20pt;
}

.webglMissing a:link,
a:visited,
a:active {
    color: #2484C6;
    text-decoration: none;
    font-weight: bold;
}

.webglMissing a:hover {
    color: #2484C6;
    text-decoration: none;
}
