input,
select {
    padding: 0.1em;
    border: 2px #444 solid;
    background-color: #111;
    color: #fff;
    font-size: 9pt;
    width: 70%;
    margin-top: 0.5em;
    font-family: 'Open Sans', sans-serif;
}

h3 {
    margin: 0px;
    margin-bottom: 3px;
    font-size: 11pt;
}

.ui-tooltip {
    font-size: 9pt;
    font-family: 'Open Sans', serif;
    background: #000000;
    color: #fff;
    padding: 0.2em;
}

.controlBar {
    height: 100%;
    width: 300px;
    right: 0;
    position: absolute;
    background-color: #111;
    -moz-box-shadow: inset 10px 0 15px #000000;
    -webkit-box-shadow: inset 10px 0 15px #000000;
    box-shadow: inset 10px 0 15px #000000;
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 8pt;
    display: none;
    overflow: auto;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border-left: #cccccc 4px solid;
}

.controlBarButton {
    top: 15px;
    right: .5em;
    position: absolute;
    background: rgba(255, 255, 255, 0.4);
    border-radius: 4px;
    padding: 2px;
}

.control {
    padding: 0;
}

.control a:link {
    color: #f0f0f0;
    text-decoration: none;
}

.control a:visited {
    color: #f0f0f0;
    text-decoration: none;
}

.control a:hover {
    color: #ccc;
    text-decoration: none;
}

.control a:active {
    color: #ccc;
    text-decoration: none;
}

.controlHeader {
    color: #fefefe;
    vertical-align: middle;
    height: 15px;
    padding: 10px;
    text-align: left;
    cursor: pointer;
    border-bottom: rgba(255, 255, 255, 0.1) solid 2px;
    font-weight: 600;
}

.controlHeader:hover {
    background-color: rgba(255, 255, 255, 0.05);
}

.controlHeaderInactive {
    color: #666;
    background-color: #333;
    cursor: default;
}

.controlHeaderInactive:hover {
    background-color: #333;
}

.controlBody {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 8px;
    padding-top: 4px;
    margin: 0;
    text-align: left;
    background: rgba(255, 255, 255, 0.1);
    border-bottom: 2px solid #333;
    width: auto;
    font-family: 'Open Sans', sans-serif;
}

.infoBox {
    padding: 15px;
    padding-top: 10px;
    padding-bottom: 8px;
    color: #eee;
    font-size: 8pt;
    border: 0;
    border-bottom: #333 solid 5px;
}

.info .menue {
    color: #2484C6;
    clear: both;
}

.info .menue .item {
    float: left;
    padding: 4px;
    margin-top: 4px;
    margin-right: 6px;
    margin-left: -4px;
    margin-bottom: 0;
    background-color: none;
    font-weight: 600;
    cursor: pointer;
}

.info .menue .item:hover {
    background-color: #2484C6;
    color: #fefefe;
}

.info .menue .active {
    background-color: #2484C6;
    color: #fefefe;
}

.info .content {
    clear: both;
    color: #ccc;
    -webkit-touch-callout: all;
    -webkit-user-select: all;
    -khtml-user-select: all;
    -moz-user-select: all;
    -ms-user-select: all;
    user-select: all;
}

.info .topborder {
    border-top: 1px solid #333;
    padding-top: 5px;
}

.info p {
    padding: 0;
    margin: 0;
    margin-bottom: 5px;
    color: #ccc;
}

.logoContainer {
    padding-top: 6px;
    height: 80px;
}

.vcenter {
    vertical-align: middle;
    padding-top: 8px;
    padding-bottom: 8px;
}

.controlbutton {
    padding: 4px;
    padding-right: 8px;
    padding-left: 8px;
    background-color: #111;
    cursor: pointer;
    border: #333;
    font-weight: 600;
    margin-right: 3px;
}

.controlbutton:hover {
    background-color: #000;
}

.knobLabel {
    margin-top: 7px;
    margin-bottom: 4px;
    color: #888;
}

.knob {
    width: 60px;
    height: 60px;
    font-family: 'Open Sans', sans-serif;
}

.colorSlider {
    margin-top: 0.6em;
    margin-bottom: 0.2em;
}

.floatingSlider {
    float: right;
    margin-top: 2px;
}

.ui-slider-horizontal {
    height: 6px;
    width: 130px;
    text-align: center;
    background: #000;
    border: 1px solid #111;
}

.ui-slider-horizontal .ui-slider-handle {
    height: 13px;
    width: 7px;
    border-radius: 2px;
    background: #2484C6;
    z-index: 0;
}

.ui-slider-range {
    background: #ccc;
}

.switchBox {
    margin-bottom: 12px;
    margin-top: 8px;
}

.switchlabel {
    padding: 4px;
    padding-left: 0;
    vertical-align: middle;
}

.onoffswitch {
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    float: right;
}

.onoffswitch-checkbox {
    display: none;
}

.onoffswitch-label {
    display: block;
    overflow: hidden;
    cursor: pointer;
    border: 2px solid #666666;
    border-radius: 5px;
}

.onoffswitch-inner {
    display: block;
    width: 200%;
    margin-left: -100%;
    -moz-transition: margin 0.3s ease-in 0s;
    -webkit-transition: margin 0.3s ease-in 0s;
    -o-transition: margin 0.3s ease-in 0s;
    transition: margin 0.3s ease-in 0s;
}

.onoffswitch-inner:before,
.onoffswitch-inner:after {
    display: block;
    float: left;
    width: 50%;
    height: 15px;
    padding: 0;
    line-height: 15px;
    font-size: 10px;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.onoffswitch-inner:before {
    content: "ON";
    padding-left: 7px;
    background-color: #2484C6;
    color: #FFFFFF;
}

.onoffswitch-inner:after {
    content: "OFF";
    padding-right: 7px;
    background-color: #F8F8F8;
    color: #666666;
    text-align: right;
}

.onoffswitch-switch {
    display: block;
    width: 17px;
    margin: 0px;
    background: #FFFFFF;
    border: 2px solid #666666;
    border-radius: 5px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 34px;
    -moz-transition: all 0.3s ease-in 0s;
    -webkit-transition: all 0.3s ease-in 0s;
    -o-transition: all 0.3s ease-in 0s;
    transition: all 0.3s ease-in 0s;
    background-image: -moz-linear-gradient(center top, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0) 100%);
    background-image: -webkit-linear-gradient(center top, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0) 100%);
    background-image: -o-linear-gradient(center top, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0) 100%);
    background-image: linear-gradient(center top, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0) 100%);
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px;
}
