.showcaseControl {
    position: absolute;
    top: 50%;
    margin-top: -70px;
    font-family: 'Open Sans', serif;
    font-weight: 400;
    font-size: 30pt;
    z-index: 110;
    color: rgba(36, 132, 198, 0.9);
    cursor: pointer;
    opacity: 0.85;
}

.white {
    color: rgba(255, 255, 255, 0.8);
}

.showcaseControl:hover {
    color: rgba(0, 60, 136, 1.0);
}

.controlRight {
    right: -8px;
}

.controlLeft {
    left: -8px;
}

.showcaseHintControlPanel {
    position: absolute;
    top: 16px;
    right: 50px;
    z-index: 120;
    opacity: 0.7;
}

.bubble {
    position: relative;
    min-width: 150px;
    padding: 0.7em;
    background: #FFFFFF;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    font-family: 'Open Sans', serif;
    font-weight: 600;
    font-size: 8pt;
    opacity: 0.9;
    cursor: pointer;
}

.bubble:after {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 6px 0 6px 10px;
    border-color: transparent #FFFFFF;
    display: block;
    width: 0;
    z-index: 1;
    right: -10px;
    top: 8px;
}

.bubble:hover {
    background: rgba(0, 60, 136, 0.9);
    color: #fff;
}

.bubble:hover:after {
    border-color: transparent rgba(0, 60, 136, 0.9);
}


.alertBubble {
    position: absolute;
    z-index: 120;
    bottom: 25px;
    left: 50%;
    margin-top: -25px;
    margin-left: -210px;
    min-width: 150px;
    padding: 0.9em;
    background: #FFFFFF;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    font-family: 'Open Sans', serif;
    font-size: 8pt;
    opacity: 0.9;
    text-align: center;
}

.alertBubble:after {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 8px 8px 0;
    border-color: #FFFFFF transparent;
    display: block;
    width: 0;
    z-index: 1;
    margin-left: -8px;
    bottom: -8px;
    left: 50%;
}
