*.pyc
ol3/build
ol3/examples/*.html.png
ol3/examples/example-list.js
ol3/examples/example-list.xml
ol3/node_modules/
ol3/src/ol/renderer/webgl/webgltiledemlayershader.js
www/src/data/*
www/node_modules/
www/dist/*
!www/src/data/blank.png
.DS_Store
backend/node_modules/
userstudy/*
ol3/userstudy
