*.pyc
ol3/build
ol3/examples/*.html.png
ol3/examples/example-list.js
ol3/examples/example-list.xml
ol3/node_modules/
ol3/src/ol/renderer/webgl/webgltiledemlayershader_d.js
map/src/data/*
map/node_modules/
map/dist/*
map/src/js/analytics.js
!map/src/data/blank.png
.DS_Store
backend/*
custom/*
ol3/custom
*tutorial*
*sample*
